.footer {
	display: flex;
	justify-content: space-between;
	align-self: end;

	padding: 45px 165px 60px 150px;

	font-size: $base_size;
	font-weight: $regular;

	background-color: transparent;
	z-index: 1;
	.heading {
		margin-bottom: 10px;
		color: $footerHeading_color;
		font-size: $semibase_size;
		font-weight: $bold;
		@include mediaSemiTablet {
			font-size: $semibase_size_tablet;
		}
	}
	@include mediaDecstop {
		padding: 45px 110px 60px 95px;
	}
	@include mediaTablet {
		padding: 45px 80px 60px 65px;
		align-self: end;
		background-color: $background_color;
	}
	@include mediaSemiTablet {
		flex-direction: column;
		gap: 35px;
		padding: 22.5px 50px 60px 35px;
		font-size: $base_size_tablet;
	}
	@include mediaMobile {
		padding: 45px 30px 60px 15px;
	}
}
.footer__nav {
	display: flex;
	gap: 98px;
	@include mediaDecstop {
		gap: 78px;
	}
	@include mediaTablet {
		gap: 48px;
	}
	@include mediaSemiTablet {
		gap: 28px;
	}
	@include mediaMobile {
		flex-direction: column;
	}
}
.about {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 52px;
	row-gap: 10px;
	@include mediaSemiTablet {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 32px;
		row-gap: 5px;
	}
	@include mediaMobile {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 5px;
	}
}
.contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: right;
	@include mediaSemiTablet {
		gap: 10px;
		text-align: left;
	}
	.heading {
		margin-bottom: 0px;
	}
	.contacts-logo {
		display: flex;
		justify-content: end;
		gap: 10px;
		@include mediaSemiTablet {
			justify-content: start;
		}
	}
	// div {
		// white-space: nowrap;
	// }
	.rights {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-top: 50px;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: $regular;
		@include mediaSemiTablet {
			margin-top: 20px;
		}
		a {
			text-decoration: underline;
		}
	}
}