body {
	font-family: 'inter', sans-serif;
	color: $base_color;
	height: 100vh;
}
.container {
	position: relative;
	display: grid;
	grid-template-rows: auto;

	min-height: 100vh;
	min-width: 100vw;
	width: 100%;
	// padding: 46px 150px 20px;
	background: $background_color;

	overflow: hidden;
}
a {
	transition: all 0.1s ease;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		transform: scale(0.96);
	}
}
.red-ball {
	z-index: 0;
	position: absolute;
	top: 83px;
	left: 519px;
	width: 83px;
	height: 83px;
	border-radius: 50%;
	backdrop-filter: blur(1px);
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
	background: radial-gradient(at 15% 15%, rgba(255, 208, 208, 0.67) 0%,
											rgba(212, 93, 93, 0.33) 60%,
											rgba(167, 49, 49, 0.31) 75%,
											rgba(130, 25, 25, 0.31) 100%);
}
.red-ball2 {
	z-index: 0;
	position: absolute;
	top: 547px;
	left: 851px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	filter: blur(2px);
	backdrop-filter: blur(2px);
	box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.251);
	background: radial-gradient(at 10% 10%, rgba(255, 208, 208, 0.6) 0%,
											rgba(212, 93, 93, 0.31) 60%,
											rgba(167, 49, 49, 0.33) 75%,
											rgb(130, 25, 25, 0.29) 100%);
}
.purple-ball {
	z-index: 0;
	position: absolute;
	top: -2px;
	left: 868px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	filter: blur(3px);
	backdrop-filter: blur(2px);
	box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
	background: radial-gradient(at 10% 10%, rgba(255, 208, 208, 0.8) 0%,
											rgba(161, 93, 207, 0.30) 60%,
											rgba(118, 49, 164, 0.26) 75%,
											rgba(86, 24, 128, 0.29) 100%);
}
.purple-light {
	position: absolute;
	top: -154px;
	left: 602px;
	width: 259px;
	height: 259px;
	border-radius: 50%;
	filter: blur(200px);
	background-color: rgba(131, 58, 180, 0.5);
}
.red-light {
	position: absolute;
	top: 251px;
	left: -102px;
	width: 311px;
	height: 311px;
	border-radius: 50%;
	filter: blur(200px);
	background-color: rgba(150, 26, 26, 0.5);
}
.yellow-light {
	display: none;
	position: absolute;
	top: 519px;
	left: -66px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	filter: blur(200px);
	background-color: rgba(252, 176, 69);
}

@media screen and (max-width: $tablet) {
	.container {
		grid-template-rows: 100px auto auto;
		background: $background_color_tablet;
		backdrop-filter: blur(15px);
	}
	.bg-noise {
		background-image: url('/images/main/noise.png');
	}
	.purple-light {
		left: 258px;
		top: 107px;
	}
	.red-light {
		left: -55px;
		top: 241px;
	}
	.yellow-light {
		display: block;
	}
	.red-ball2 {
		left: 29px;
		top: 472px;
		width: 43px;
		height: 43px;
		filter: blur(4px);
	}
	.purple-ball {
		left: 296px;
		top: 236px;
		width: 40px;
		height: 40px;
		filter: blur(4px);
		backdrop-filter: blur(10px);
	}
}
@media screen and (max-width: $semi_tablet) {
	.container {
		grid-template-rows: 60px auto auto;
	}
}