// Colors
$base_color: #E4E5EA;
$button_color: #4077F3;
$footerHeading_color: #656566;

// Font sizes
$mini_size: 0.625rem;
$semibase_size: 0.875rem;
$base_size: 1rem;
$h3: 1.125rem;
$h1: 3rem;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Screen breakpoints
$desctop: 1280px;
$tablet: 780px;
$mobile: 480px;